@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-accent: #4EA04C;
  --color-foreground: #505050;
  --color-muted: #AAAAAA;
  --color-bg-secondary: #F4F4F4;

  --font-jakarta: var(--font-plus-jakarta-sans);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
  font-family: "Poppins", sans-serif;
}
